body{
    background: rgb(238, 238, 245);
    color: rgb(33, 105, 187);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-size: 2rem;
    margin: 3% auto;
}

#container{
    margin: 10% auto;
    border-radius: 5px;
    text-align: center;
}

.box{
    display: inline-block;
    border: 2px solid rgb(61, 123, 216);
    width: 120px;
    height: 120px;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    background: whitesmoke;
}

span{
    position: absolute;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 85px;
    width: 85px;
    padding: 0;
    margin: 5px;
    margin-left: -40px;
}

.alert{
    height: 75px;
    width: 125px;
    display: inline-block;
    background: ghostwhite;
    position: relative;
    z-index: 10;
    margin-top: -50px;
    border-radius: 20px;
    box-shadow: 0 0 75px 2px dimgray;
    animation: larger 0.5s;
    animation-fill-mode: forwards;
    box-sizing: content-box;
    padding: 30px;
    bottom: 50px;
    top: 0;
}

button{
    background: dimgray;
    border-radius: 2px;
    color: ghostwhite;
    border: none;
    outline: none;
}

button:focus{
    background: silver;
}

.activeBox{
    background: rgb(175, 173, 173);
}

@keyframes larger {
    from{
        height: 75px;
        width: 125px;
    }
    to{
        height: 100px;
        width: 250px;
    }
    
}